<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Year on display</th>
        </tr>
        <tr>
            <td><%= paintings.title %></td>
            <td><%= paintings.year %></td>
            <td><% if (paintings.on_display) { %>
                    On display
                <% } else { %>
                    Not on display
                <% } %>
            </td>
        </tr>
    </table>
</body>
</html>